.body{
    background-color: rgba(36, 45, 172, 0.603);
}

.icon{
    height:15px;
}

.avatar{
    height:25px;
    border-radius: 5px;
}

.card_container{
    background-color: rgba(36, 45, 172, 0.603);
    padding: 20px;
}
.login_container, .register_container{
    background-color: rgba(100, 113, 113, 0.603);
    width: 20%;
    padding: 50px;
    margin: 0 auto;
    border-radius: 25px;
    transform: translateY(50%);
}
.card{
    background-color: white;
}
.page{
    background-color: rgba(250, 113, 113, 0.603);
    height: 100vh;
    width: 100vw;
}